<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doan.nhom12">

    <application
        android:allowBackup="true"
        android:icon="@drawable/avtbook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avtbook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.doan.nhom12.AddTypeActivity"></activity>
        <activity android:name="com.doan.nhom12.SalesActivity" />
        <activity android:name="com.doan.nhom12.BillManagerActivity" />
        <activity android:name="com.doan.nhom12.AddBookActivity" />
        <activity android:name="com.doan.nhom12.AddPersonalActivity" />
        <activity android:name="com.doan.nhom12.AboutActivity" />
        <activity android:name="com.doan.nhom12.MKActivity" />
        <activity android:name="com.doan.nhom12.MainActivity" />
        <activity android:name="com.doan.nhom12.LoginActivity" />
        <activity android:name="com.doan.nhom12.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>